#parse("header.html")
<link rel="stylesheet" href="../../styles/result.css">
<link rel="stylesheet" href="../../styles/detail.css">
<div id="main">

    <div class="zg-wrap zu-main clearfix ">
        #foreach($vo in $topicList)
        #if ($vo.followed)
        <script language="javascript">
            window.location = "http://localhost:8080/topicDetail";
        </script>
        #break
        #else
        <div id="zh-pm-item-wrap" class="navigable">
            <div class="zu-list-empyt-place-holder" data-za-module="MessageItem">
                <div>
                    &nbsp;
                </div>
                <label id="labelShow">亲亲还没有关注的话题呢，赶快去选择一个话题关注吧:)</label>
                <div>
                    &nbsp;
                </div>
            </div>
        </div>
        #break
        #end
        #end
        <div class="zg-wrap zu-main clearfix ">
            <div class="zm-profile-section-wrap zm-profile-followee-page">
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        话题列表
                    </span>
                </div>
                <div class="zm-profile-section-list">
                    <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            #foreach($vo in $topicList)
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zg-right">
                                    #if ($vo.followed)
                                    <button class="follow-button zg-follow zg-btn-white js-follow-topic"
                                            data-id="${vo.id}"
                                            data-status="1" id="unconcern" onclick="unprocess()">取消关注
                                    </button>
                                    #else
                                    <button class="follow-button zg-follow zg-btn-white js-follow-topic"
                                            id="concern" data-id="${vo.id}" onclick="process()">关注
                                    </button>
                                    #end
                                </div>
                                <a title="Barty" class="zm-item-link-avatar" href="/topic/${vo.id}">
                                    <img src="${vo.topicImg}" class="zm-item-img-avatar">
                                </a>
                                <div class="zm-list-content-medium">
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/topic/${vo.id}"
                                                                         class="zg-link"
                                                                         title="Barty">${vo.topicName}</a></h2>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/topic.js"></script>
<script>
    var res = 0;
    function process() {
        if (document.getElementById("concern").innerText == "关注") {
//            alert(document.getElementById("concern").innerText);
            document.getElementById("labelShow").innerHTML = "<div><a href='/topicDetail'>快点我去看刚刚关注的话题吧</a></div>";
            res++;
//            alert(res);
        } else {
//            alert(document.getElementById("concern").innerText);
            if (res == 1) {
                document.getElementById("labelShow").innerHTML = "亲亲还没有关注的话题呢，赶快去选择一个话题关注吧:)";
            }
            res--;
//            alert(res);
        }
    }
    function unprocess() {
        document.getElementById("labelShow").innerHTML = "亲亲还没有关注的话题呢，赶快去选择一个话题关注吧:)";
    }
</script>
#parse("footer.html")